<h1>Découverte Angular</h1>
<a no-open href="https://google.com">Google !</a>
<a confirm confirm-message="Es tu sur de vouloir aller sur la poubelle du web" href="https://twitter.com">Twitter !</a>

<p  highlight background-color="green" base-color="purple">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui ipsa facilis facere. Repellendus natus ab,
  sed, expedita qui similique aut consequuntur quia nam ratione voluptate!</p>
<p highlight>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci voluptate minus error nostrum recusandae
  quae?</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea beatae, illo aliquam tempore quasi error! Laboriosam,
  aperiam! Suscipit officia quia, distinctio maxime sunt perferendis necessitatibus.</p>